@import url("https://fonts.googleapis.com/css2?family=Alata&family=Climate+Crisis:YEAR@1979&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import "tailwindcss";

:root {
  --text-color: #dfdde1;
  --text-h: #9e9d9f;
  --bg: #02022B;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --title:'Climate Crisis';
  --h1: 'Nunito Sans', Roboto, sans-serif;
  --h2: 'Alata', Roboto, sans-serif;
  --text: 'Inter', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  letter-spacing: 0.18px;
  color: var(--text-color);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

body {
  margin: 0;
}

.title {
  font-family: var(--title);
}


.h1{
  font-family: var(--h1);
}

.h2{
  font-family: var(--h2);
}

.text {
  font-family: var(--text);
}

.hero-image {
  display: block;
  width: min(70vw, 620px);
  height: auto;
  object-fit: contain;
  transform: translateX(-3%) rotate(-7deg);
}

/* .code, pre {
  font-family: var(--mono);
} */